
<div data-content="{{ form.vars.name }}___name__">
    {{ form_widget(form) }}
    <a class="btn btn-remove btn-danger" data-related="{{ form.vars.name }}___name__">
        <span class="glyphicon glyphicon-minus"></span>
    </a>
</div>