{% extends 'base.html.twig' %}

{% block body %}
    <div id="playground">
        <div class="resize-container">
            <div class="resize-drag">
                Resize from any edge or corner
            </div>
        </div>

    </div>
    <div id="no-drop" class="draggable drag-drop"> #no-drop</div>

    <div id="yes-drop" class="draggable drag-drop"> #yes-drop</div>

    <div id="outer-dropzone" class="dropzone">
        #outer-dropzone
        <div id="inner-dropzone" class="dropzone">#inner-dropzone</div>
    </div>
{% endblock %}